<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="bottom">
      <textarea  placeholder="Enter Sentance to filter" id="input" required wrap="hard" [(ngModel)]="filter"></textarea>
    </div>
    <div>
      <button class="btn btn-white btn-animated animated-middle fadeInUp">Filter</button>
      <textarea hidden id="output"></textarea>
    </div>
  </div>
</ion-content>
