<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      <mat-button-toggle-group
        #group="matButtonToggleGroup">
        <mat-button-toggle *ngFor="let opt of labels" [value]="opt.text">
          <mat-icon [ngClass]="opt.color">{{
            opt.text
          }}</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="bottom">
      <textarea placeholder="Enter Sentance to filter" id="input" required wrap="hard" [(ngModel)]="filter" required></textarea>
    </div>
    <div>
      <button mat-button class="btn" (click)="filterData(group.value, filter)" [disabled]="!filter || !group.value">Filter</button>
      <textarea hidden id="output"></textarea>
    </div>
  </div>
</ion-content>
